# Deliverable 1. Statistics - Multivariate Data Preprocessing or of a Time Series

**Mariana Castro Payns - A01706038**

In [1]:
# Import necessary libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats.mstats import winsorize
import statsmodels.api as sum
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.formula.api as sm

In [2]:
# Import dataset
df = pd.read_csv('us2022q2a.csv')
df

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
0,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.761670,104.0000,452000.000,NaN,2000.0,1.0
1,A,2000q2,2485000.0,1261000.0,1.010000e+06,0.0,42000.000000,0.000,90000.0,7321000.000,2679000.000,512000.000,0.000,4642000.000,45.215607,73.7500,452271.967,6.0,2000.0,2.0
2,A,2000q3,2670000.0,1369000.0,1.091000e+06,0.0,28000.000000,0.000,83000.0,7827000.000,2925000.000,528000.000,0.000,4902000.000,30.003238,48.9375,453014.579,9.0,2000.0,3.0
3,A,2000q4,3372000.0,1732000.0,1.182000e+06,0.0,10000.000000,0.000,163000.0,8425000.000,3160000.000,830000.000,0.000,5265000.000,33.566841,54.7500,456366.381,12.0,2000.0,4.0
4,A,2001q1,2841000.0,1449000.0,1.113000e+06,0.0,-6000.000000,0.000,119000.0,9208000.000,3667000.000,556000.000,0.000,5541000.000,18.840347,30.7300,456769.737,3.0,2001.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324442,ZYNE,2021q3,0.0,0.0,1.021065e+04,0.0,-376.636750,-5.038,0.0,89996.170,11309.171,207.635,411.237,78686.999,4.240000,4.2400,41251.537,9.0,2021.0,3.0
324443,ZYNE,2021q4,0.0,0.0,8.836436e+03,0.0,16.937906,-4.433,0.0,81171.507,10258.173,209.068,353.694,70913.334,2.880000,2.8800,41217.537,12.0,2021.0,4.0
324444,ZYNE,2022q1,0.0,0.0,8.903915e+03,0.0,317.252110,-96.044,0.0,74381.029,9214.059,210.512,295.754,65166.970,2.050000,2.0500,42447.037,3.0,2022.0,1.0
324445,ZYNE,2022q2,0.0,0.0,9.168770e+03,0.0,-775.927860,-91.691,0.0,67006.959,9765.086,211.965,237.414,57241.873,1.140000,1.1400,43595.959,6.0,2022.0,2.0
324446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Define name of columns and delete the ones that we wont be using
columns = ["firm", "Name", "N", "Class", "Country of Origin", "Type of Asset", "Sector NAICS level 1", "Exchange / Src", "Sector Economatica", "Sector NAICS last available", "partind"]
firms = pd.read_csv("usfirms2022.csv", names=columns)
firms = firms.drop(["N", "Name","Class", "Country of Origin", "Type of Asset", "Exchange / Src", "Sector Economatica", "Sector NAICS last available", "partind"], axis = 1)

In [4]:
# Merge data sets to get all the information we need
df = pd.merge(df,firms, on = 'firm')
df

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto,Sector NAICS level 1
0,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,63.761670,104.0000,452000.000,NaN,2000.0,1.0,Manufacturing
1,A,2000q2,2485000.0,1261000.0,1.010000e+06,0.0,42000.000000,0.000,90000.0,7321000.000,...,512000.000,0.000,4642000.000,45.215607,73.7500,452271.967,6.0,2000.0,2.0,Manufacturing
2,A,2000q3,2670000.0,1369000.0,1.091000e+06,0.0,28000.000000,0.000,83000.0,7827000.000,...,528000.000,0.000,4902000.000,30.003238,48.9375,453014.579,9.0,2000.0,3.0,Manufacturing
3,A,2000q4,3372000.0,1732000.0,1.182000e+06,0.0,10000.000000,0.000,163000.0,8425000.000,...,830000.000,0.000,5265000.000,33.566841,54.7500,456366.381,12.0,2000.0,4.0,Manufacturing
4,A,2001q1,2841000.0,1449000.0,1.113000e+06,0.0,-6000.000000,0.000,119000.0,9208000.000,...,556000.000,0.000,5541000.000,18.840347,30.7300,456769.737,3.0,2001.0,1.0,Manufacturing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9.838494e+03,0.0,-117.528220,-5.943,0.0,98195.904,...,206.211,468.385,87699.257,5.290000,5.2900,41251.537,6.0,2021.0,2.0,Manufacturing
323812,ZYNE,2021q3,0.0,0.0,1.021065e+04,0.0,-376.636750,-5.038,0.0,89996.170,...,207.635,411.237,78686.999,4.240000,4.2400,41251.537,9.0,2021.0,3.0,Manufacturing
323813,ZYNE,2021q4,0.0,0.0,8.836436e+03,0.0,16.937906,-4.433,0.0,81171.507,...,209.068,353.694,70913.334,2.880000,2.8800,41217.537,12.0,2021.0,4.0,Manufacturing
323814,ZYNE,2022q1,0.0,0.0,8.903915e+03,0.0,317.252110,-96.044,0.0,74381.029,...,210.512,295.754,65166.970,2.050000,2.0500,42447.037,3.0,2022.0,1.0,Manufacturing
323815,ZYNE,2022q2,0.0,0.0,9.168770e+03,0.0,-775.927860,-91.691,0.0,67006.959,...,211.965,237.414,57241.873,1.140000,1.1400,43595.959,6.0,2022.0,2.0,Manufacturing

In [5]:
# Define firm as index
df.set_index(['firm'], inplace=True)
df

,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto,Sector NAICS level 1
firm,,,,,,,,,,,,,,,,,,,,
A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.761670,104.0000,452000.000,NaN,2000.0,1.0,Manufacturing
A,2000q2,2485000.0,1261000.0,1.010000e+06,0.0,42000.000000,0.000,90000.0,7321000.000,2679000.000,512000.000,0.000,4642000.000,45.215607,73.7500,452271.967,6.0,2000.0,2.0,Manufacturing
A,2000q3,2670000.0,1369000.0,1.091000e+06,0.0,28000.000000,0.000,83000.0,7827000.000,2925000.000,528000.000,0.000,4902000.000,30.003238,48.9375,453014.579,9.0,2000.0,3.0,Manufacturing
A,2000q4,3372000.0,1732000.0,1.182000e+06,0.0,10000.000000,0.000,163000.0,8425000.000,3160000.000,830000.000,0.000,5265000.000,33.566841,54.7500,456366.381,12.0,2000.0,4.0,Manufacturing
A,2001q1,2841000.0,1449000.0,1.113000e+06,0.0,-6000.000000,0.000,119000.0,9208000.000,3667000.000,556000.000,0.000,5541000.000,18.840347,30.7300,456769.737,3.0,2001.0,1.0,Manufacturing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYNE,2021q2,0.0,0.0,9.838494e+03,0.0,-117.528220,-5.943,0.0,98195.904,10496.647,206.211,468.385,87699.257,5.290000,5.2900,41251.537,6.0,2021.0,2.0,Manufacturing
ZYNE,2021q3,0.0,0.0,1.021065e+04,0.0,-376.636750,-5.038,0.0,89996.170,11309.171,207.635,411.237,78686.999,4.240000,4.2400,41251.537,9.0,2021.0,3.0,Manufacturing
ZYNE,2021q4,0.0,0.0,8.836436e+03,0.0,16.937906,-4.433,0.0,81171.507,10258.173,209.068,353.694,70913.334,2.880000,2.8800,41217.537,12.0,2021.0,4.0,Manufacturing
ZYNE,2022q1,0.0,0.0,8.903915e+03,0.0,317.252110,-96.044,0.0,74381.029,9214.059,210.512,295.754,65166.970,2.050000,2.0500,42447.037,3.0,2022.0,1.0,Manufacturing
ZYNE,2022q2,0.0,0.0,9.168770e+03,0.0,-775.927860,-91.691,0.0,67006.959,9765.086,211.965,237.414,57241.873,1.140000,1.1400,43595.959,6.0,2022.0,2.0,Manufacturing

In [6]:
# Get Market Value
df["Market Value"] = df["originalprice"] * df["sharesoutstanding"]
df[["Market Value"]]

      Market Value
firm
A     4.700800e+07
A     3.335506e+07
A     2.216940e+07
A     2.498606e+07
A     1.403653e+07
...            ...
ZYNE  2.182206e+05
ZYNE  1.749065e+05
ZYNE  1.187065e+05
ZYNE  8.701643e+04
ZYNE  4.969939e+04

[323816 rows x 1 columns]

In [7]:
# Get Book Value
df["Book Value"] = df["totalassets"] - df["totalliabilities"]
df[["Book Value"]]

       Book Value
firm
A             NaN
A     4642000.000
A     4902000.000
A     5265000.000
A     5541000.000
...           ...
ZYNE    87699.257
ZYNE    78686.999
ZYNE    70913.334
ZYNE    65166.970
ZYNE    57241.873

[323816 rows x 1 columns]

In [8]:
# Get Earning Before Interests and Taxes (Ebit)
df["Ebit"] = df["revenue"] - df["cogs"] - df["sgae"]
df[["Ebit"]]

             Ebit
firm
A             NaN
A     214000.0000
A     210000.0000
A     458000.0000
A     279000.0000
...           ...
ZYNE   -9838.4941
ZYNE  -10210.6520
ZYNE   -8836.4365
ZYNE   -8903.9150
ZYNE   -9168.7695

[323816 rows x 1 columns]

In [9]:
# Get Operating Profit Margin
df["OPM"] = (df["Ebit"]/df["revenue"]).replace([np.inf, -np.inf], np.nan)
df[["OPM"]]

           OPM
firm
A          NaN
A     0.086117
A     0.078652
A     0.135824
A     0.098205
...        ...
ZYNE       NaN
ZYNE       NaN
ZYNE       NaN
ZYNE       NaN
ZYNE       NaN

[323816 rows x 1 columns]

In [10]:
# Get Net Income
df["Net Income"] = df["Ebit"] - df["incometax"] - df["finexp"] + df["extraincome"]
df[["Net Income"]]

         Net Income
firm
A               NaN
A     166000.000000
A     155000.000000
A     305000.000000
A     154000.000000
...             ...
ZYNE   -9950.079320
ZYNE  -10582.250750
ZYNE   -8815.065594
ZYNE   -8490.618890
ZYNE   -9853.006360

[323816 rows x 1 columns]

In [11]:
# Get Prfit Margin
df["Profit Margin"] = ((df["Net Income"] / df["revenue"])*100).replace([np.inf, -np.inf], np.nan)
df[["Profit Margin"]]

      Profit Margin
firm
A               NaN
A          6.680080
A          5.805243
A          9.045077
A          5.420627
...             ...
ZYNE            NaN
ZYNE            NaN
ZYNE            NaN
ZYNE            NaN
ZYNE            NaN

[323816 rows x 1 columns]

In [12]:
# Create earnings per share variable
EPS = df["Ebit"] / df["sharesoutstanding"]

In [13]:
# Create earnings per share deflated by price column
df["EPSP"] = EPS / df["originalprice"]
df[["EPSP"]]

          EPSP
firm
A          NaN
A     0.006416
A     0.009473
A     0.018330
A     0.019877
...        ...
ZYNE -0.045085
ZYNE -0.058378
ZYNE -0.074439
ZYNE -0.102325
ZYNE -0.184485

[323816 rows x 1 columns]

In [14]:
# Get sales annual growth
df["SAG"] = (df["revenue"] / (df["revenue"].shift(-4)))-1
df[["SAG"]]

           SAG
firm
A          NaN
A     0.043241
A     0.478405
A     1.031325
A     0.992286
...        ...
ZYNE       NaN
ZYNE       NaN
ZYNE       NaN
ZYNE       NaN
ZYNE       NaN

[323816 rows x 1 columns]

In [15]:
# Get Operating Profit Growth
df["OPG"] = (df["Ebit"] / (df["Ebit"].shift(-4)))-1
df[["OPG"]]

           OPG
firm
A          NaN
A    -4.451613
A    -1.614035
A    -1.696049
A    -1.631222
...        ...
ZYNE  0.073044
ZYNE       NaN
ZYNE       NaN
ZYNE       NaN
ZYNE       NaN

[323816 rows x 1 columns]

In [16]:
# Get Book to Market Ratio 
df["BMR"] = df["Book Value"] / df["Market Value"]
df[["BMR"]]

           BMR
firm
A          NaN
A     0.139169
A     0.221116
A     0.210718
A     0.394756
...        ...
ZYNE  0.401883
ZYNE  0.449880
ZYNE  0.597384
ZYNE  0.748904
ZYNE  1.151762

[323816 rows x 1 columns]

In [17]:
# Get short financial leverage 
df["SFL"] = df["shortdebt"] / df["totalassets"]
df[["SFL"]]

           SFL
firm
A          NaN
A     0.069936
A     0.067459
A     0.098516
A     0.060382
...        ...
ZYNE  0.002100
ZYNE  0.002307
ZYNE  0.002576
ZYNE  0.002830
ZYNE  0.003163

[323816 rows x 1 columns]

In [18]:
# Get long financial leverage
df["LFL"] = df["longdebt"] / df["totalassets"]
df[["LFL"]]

           LFL
firm
A          NaN
A     0.000000
A     0.000000
A     0.000000
A     0.000000
...        ...
ZYNE  0.004770
ZYNE  0.004569
ZYNE  0.004357
ZYNE  0.003976
ZYNE  0.003543

[323816 rows x 1 columns]

In [19]:
# Get dependant variable - stock returns
df["r"] = np.log(df["adjprice"]) - np.log(df["adjprice"].shift(4))
df[["r"]]

             r
firm
A          NaN
A          NaN
A          NaN
A          NaN
A    -1.219152
...        ...
ZYNE  0.450906
ZYNE  0.247615
ZYNE -0.136132
ZYNE -0.819027
ZYNE -1.534790

[323816 rows x 1 columns]

In [20]:
df[["adjprice"]]

       adjprice
firm
A     63.761670
A     45.215607
A     30.003238
A     33.566841
A     18.840347
...         ...
ZYNE   5.290000
ZYNE   4.240000
ZYNE   2.880000
ZYNE   2.050000
ZYNE   1.140000

[323816 rows x 1 columns]

In [21]:
df["F1r"] = df["r"].shift(-1)
df[["F1r"]]

           F1r
firm
A          NaN
A          NaN
A          NaN
A    -1.219152
A    -0.819441
...        ...
ZYNE  0.247615
ZYNE -0.136132
ZYNE -0.819027
ZYNE -1.534790
ZYNE       NaN

[323816 rows x 1 columns]

In [22]:
commercial = df.copy()

In [23]:
# Get data from commercial industry
commercial = df.loc[(df["Sector NAICS level 1"] == "Finance and Insurance") | (df["Sector NAICS level 1"] == "Real Estate and Rental and Leasing")]
commercial

,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,...,Net Income,Profit Margin,EPSP,SAG,OPG,BMR,SFL,LFL,r,F1r
firm,,,,,,,,,,,,,,,,,,,,,
AAIC,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.276968,-0.767395
AAIC,2000q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.767395,-1.044910
AAIC,2000q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.044910,-0.715937
AAIC,2000q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.715937,-0.685361
AAIC,2001q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.685361,-0.149036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZION,2021q2,570000.0,15000.0,0.0,0.0,-100000.0,0.0,101000.0,87208000.0,79175000.0,...,354000.0,62.105263,0.064093,-0.0625,-0.064081,0.927674,NaN,0.014999,0.472042,0.778500
ZION,2021q3,569000.0,14000.0,0.0,0.0,-244000.0,0.0,71000.0,88306000.0,80532000.0,...,240000.0,42.179262,0.055331,NaN,NaN,0.775033,NaN,0.011551,0.778500,0.399489
ZION,2021q4,566000.0,13000.0,0.0,0.0,-284000.0,0.0,56000.0,93200000.0,85737000.0,...,213000.0,37.632509,0.055959,NaN,NaN,0.755194,NaN,0.010858,0.399489,0.200036
ZION,2022q1,555000.0,11000.0,0.0,0.0,-289000.0,0.0,52000.0,91126000.0,84832000.0,...,203000.0,36.576577,0.054744,NaN,NaN,0.633377,NaN,0.007561,0.200036,-0.012988
ZION,2022q2,608000.0,15000.0,0.0,0.0,-333000.0,0.0,57000.0,87784000.0,82152000.0,...,203000.0,33.388158,0.076971,NaN,NaN,0.731034,NaN,0.007644,-0.012988,NaN

In [24]:
# Get size of each 
commercial["Size"] = pd.cut(commercial["Market Value"], bins=3, labels=["small", "medium", "big"])
commercial

C:\Users\maria\AppData\Local\Temp\ipykernel_10508\3832251781.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commercial["Size"] = pd.cut(commercial["Market Value"], bins=3, labels=["small", "medium", "big"])

,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,...,Profit Margin,EPSP,SAG,OPG,BMR,SFL,LFL,r,F1r,Size
firm,,,,,,,,,,,,,,,,,,,,,
AAIC,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.276968,-0.767395,NaN
AAIC,2000q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.767395,-1.044910,NaN
AAIC,2000q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.044910,-0.715937,NaN
AAIC,2000q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.715937,-0.685361,NaN
AAIC,2001q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.685361,-0.149036,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZION,2021q2,570000.0,15000.0,0.0,0.0,-100000.0,0.0,101000.0,87208000.0,79175000.0,...,62.105263,0.064093,-0.0625,-0.064081,0.927674,NaN,0.014999,0.472042,0.778500,small
ZION,2021q3,569000.0,14000.0,0.0,0.0,-244000.0,0.0,71000.0,88306000.0,80532000.0,...,42.179262,0.055331,NaN,NaN,0.775033,NaN,0.011551,0.778500,0.399489,small
ZION,2021q4,566000.0,13000.0,0.0,0.0,-284000.0,0.0,56000.0,93200000.0,85737000.0,...,37.632509,0.055959,NaN,NaN,0.755194,NaN,0.010858,0.399489,0.200036,small
ZION,2022q1,555000.0,11000.0,0.0,0.0,-289000.0,0.0,52000.0,91126000.0,84832000.0,...,36.576577,0.054744,NaN,NaN,0.633377,NaN,0.007561,0.200036,-0.012988,small
ZION,2022q2,608000.0,15000.0,0.0,0.0,-333000.0,0.0,57000.0,87784000.0,82152000.0,...,33.388158,0.076971,NaN,NaN,0.731034,NaN,0.007644,-0.012988,NaN,small

In [25]:
dummies = pd.get_dummies(commercial["Size"], drop_first= -1)

In [26]:
commercial[["Medium"]] = dummies[["medium"]]
commercial[["Big"]] = dummies[["big"]]
commercial

C:\Users\maria\AppData\Local\Temp\ipykernel_10508\2170651060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commercial[["Medium"]] = dummies[["medium"]]
C:\Users\maria\AppData\Local\Temp\ipykernel_10508\2170651060.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commercial[["Big"]] = dummies[["big"]]

,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,...,SAG,OPG,BMR,SFL,LFL,r,F1r,Size,Medium,Big
firm,,,,,,,,,,,,,,,,,,,,,
AAIC,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.276968,-0.767395,NaN,0,0
AAIC,2000q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.767395,-1.044910,NaN,0,0
AAIC,2000q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-1.044910,-0.715937,NaN,0,0
AAIC,2000q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.715937,-0.685361,NaN,0,0
AAIC,2001q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.685361,-0.149036,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZION,2021q2,570000.0,15000.0,0.0,0.0,-100000.0,0.0,101000.0,87208000.0,79175000.0,...,-0.0625,-0.064081,0.927674,NaN,0.014999,0.472042,0.778500,small,0,0
ZION,2021q3,569000.0,14000.0,0.0,0.0,-244000.0,0.0,71000.0,88306000.0,80532000.0,...,NaN,NaN,0.775033,NaN,0.011551,0.778500,0.399489,small,0,0
ZION,2021q4,566000.0,13000.0,0.0,0.0,-284000.0,0.0,56000.0,93200000.0,85737000.0,...,NaN,NaN,0.755194,NaN,0.010858,0.399489,0.200036,small,0,0
ZION,2022q1,555000.0,11000.0,0.0,0.0,-289000.0,0.0,52000.0,91126000.0,84832000.0,...,NaN,NaN,0.633377,NaN,0.007561,0.200036,-0.012988,small,0,0
ZION,2022q2,608000.0,15000.0,0.0,0.0,-333000.0,0.0,57000.0,87784000.0,82152000.0,...,NaN,NaN,0.731034,NaN,0.007644,-0.012988,NaN,small,0,0

In [27]:
commercial.value_counts(["Big"])

Big
0      69094
1         29
dtype: int64

In [28]:
commercial.value_counts(["Medium"])

Medium
0         68915
1           208
dtype: int64

In [29]:
result = sm.ols(formula="F1r ~ EPSP + OPM + BMR + SFL + Medium + Big", data=commercial).fit()

In [30]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    F1r   R-squared:                       0.032
Model:                            OLS   Adj. R-squared:                  0.031
Method:                 Least Squares   F-statistic:                     40.28
Date:                Tue, 25 Oct 2022   Prob (F-statistic):           1.60e-48
Time:                        01:42:05   Log-Likelihood:                -5666.6
No. Observations:                7346   AIC:                         1.135e+04
Df Residuals:                    7339   BIC:                         1.140e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.1367      0.008     17.236      0.000       0.121       0.152
EPSP           0.3195      0.053      5.990      0.000       0.215       0.424
OPM            0.0001   6.99e-05      1.769      0.077   -1.34e-05       0.000
BMR           -0.0964      0.007    -13.567      0.000      -0.110      -0.082
SFL           -0.2036      0.057     -3.562      0.000      -0.316      -0.092
Medium         0.0562      0.105      0.535      0.593      -0.150       0.262
Big            0.2049      0.214      0.958      0.338      -0.214       0.624
==============================================================================
Omnibus:                     2260.682   Durbin-Watson:                   0.766
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            48649.345
Skew:                          -0.955   Prob(JB):                         0.00
Kurtosis:                      15.462   Cond. No.                     3.06e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.06e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

### **Exploratory Analysis of Variables**

#### ***1.1 Get Variance-Covariance Matrix***

In [31]:
# Get second to last q
df_f = commercial.groupby(["firm"],as_index=False).take([-2])
df_f = df_f.reset_index()
df_f

,level_0,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,...,SAG,OPG,BMR,SFL,LFL,r,F1r,Size,Medium,Big
0,0,AAIC,2022q1,8470.0,4773.0,0.0,0.0,-4111.0,0.0,2287.0,...,-0.998389,-0.993537,1.794935,NaN,0.178003,-0.152090,-0.222528,small,0,0
1,1,AAME,2022q1,51608.0,0.0,47812.0,0.0,0.0,0.0,954.0,...,NaN,NaN,1.982019,NaN,0.089961,-0.156671,-0.475675,small,0,0
2,2,AAT,2022q1,101470.0,0.0,73128.0,0.0,-2998.0,14666.0,0.0,...,NaN,NaN,0.525842,NaN,0.547644,0.187019,-0.193375,small,0,0
3,3,ABCB,2022q1,183374.0,10830.0,0.0,0.0,-63140.0,0.0,27706.0,...,NaN,NaN,0.983560,NaN,0.023444,-0.167528,-0.218392,small,0,0
4,4,ABR,2022q1,166698.0,82559.0,0.0,0.0,3978.0,0.0,8188.0,...,NaN,NaN,1.068207,NaN,0.802576,0.147536,-0.226246,small,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,764,WTM,2022q1,348900.0,0.0,361100.0,0.0,41800.0,0.0,-3800.0,...,3.757554,-1.348352,1.076141,NaN,0.066443,0.019911,0.082947,small,0,0
765,765,WY,2022q1,3112000.0,1647000.0,115000.0,6000.0,-291000.0,73000.0,209000.0,...,NaN,NaN,0.361911,0.000000,0.295221,0.134806,0.033848,small,0,0
766,766,XELB,2022q1,8747.0,1680.0,10065.0,32.0,251.0,708.0,0.0,...,NaN,NaN,2.442752,0.028656,0.258356,-0.289359,-0.929759,small,0,0
767,767,Y,2022q1,2718734.0,0.0,2504759.0,0.0,-43212.0,0.0,45082.0,...,NaN,NaN,0.781984,NaN,0.088504,0.301887,0.222259,small,0,0
768,768,ZION,2022q1,555000.0,11000.0,0.0,0.0,-289000.0,0.0,52000.0,...,NaN,NaN,0.633377,NaN,0.007561,0.200036,-0.012988,small,0,0

In [32]:
df_f = df_f.replace(np.nan, 0)

In [33]:
# Get size of dataset
size = df_f.shape

In [83]:
# Add ONES column
rows = size[:1]
one = np.ones([rows[0],1])

In [35]:
# Define variables
x_mat = df_f[["EPSP","OPM", "BMR", "SFL","Medium", "Big", "F1r"]]
x_mat

         EPSP       OPM       BMR       SFL  Medium  Big       F1r
0    0.030426  0.436482  1.794935  0.000000       0    0 -0.222528
1    0.059512  0.073554  1.982019  0.000000       0    0 -0.475675
2    0.012359  0.279314  0.525842  0.000000       0    0 -0.193375
3    0.056434  0.940940  0.983560  0.000000       0    0 -0.218392
4    0.032423  0.504739  1.068207  0.000000       0    0 -0.226246
..        ...       ...       ...       ...     ...  ...       ...
764 -0.003578 -0.034967  1.076141  0.000000       0    0  0.082947
765  0.047727  0.433805  0.361911  0.000000       0    0  0.033848
766 -0.102809 -0.342746  2.442752  0.028656       0    0 -0.929759
767  0.018672  0.078704  0.781984  0.000000       0    0  0.222259
768  0.054744  0.980180  0.633377  0.000000       0    0 -0.012988

[769 rows x 7 columns]

In [36]:
# Transpose of Matrix
x_transp = x_mat.transpose()
x_transp

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,768
EPSP,0.030426,0.059512,0.012359,0.056434,0.032423,0.060626,-0.003577,0.009500,0.056218,0.029133,...,0.051129,0.045459,0.020074,0.052897,0.056268,-0.003578,0.047727,-0.102809,0.018672,0.054744
OPM,0.436482,0.073554,0.279314,0.940940,0.504739,0.914913,-1.280403,0.270305,0.943353,0.639941,...,0.960214,0.961294,0.383085,0.878776,0.911781,-0.034967,0.433805,-0.342746,0.078704,0.980180
BMR,1.794935,1.982019,0.525842,0.983560,1.068207,0.826278,0.993543,0.416897,0.843972,0.940574,...,1.209185,0.826064,0.621678,0.524978,0.844554,1.076141,0.361911,2.442752,0.781984,0.633377
SFL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.028656,0.000000,0.000000
Medium,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Big,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
F1r,-0.222528,-0.475675,-0.193375,-0.218392,-0.226246,-0.004997,-0.075940,0.349362,0.095438,-0.086493,...,-0.076554,-0.139224,0.307908,-0.097823,0.073016,0.082947,0.033848,-0.929759,0.222259,-0.012988

In [37]:
# Calculations for Matrix
transp_ones = x_transp.dot(one)
transp_ones

                 0
EPSP     27.676815
OPM    -506.717595
BMR     602.855220
SFL      12.392931
Medium    2.000000
Big       3.000000
F1r    -135.079059

In [38]:
mult_transp = transp_ones.dot(transp_ones.transpose())
mult_transp

,EPSP,OPM,BMR,SFL,Medium,Big,F1r
EPSP,766.006079,-14024.329046,16685.112300,342.996860,55.353630,83.030444,-3738.558090
OPM,-14024.329046,256762.721125,-305477.347441,-6279.716257,-1013.435190,-1520.152785,68446.935681
BMR,16685.112300,-305477.347441,363434.416767,7471.143227,1205.710441,1808.565661,-81433.115604
SFL,342.996860,-6279.716257,7471.143227,153.584742,24.785862,37.178793,-1674.025469
Medium,55.353630,-1013.435190,1205.710441,24.785862,4.000000,6.000000,-270.158117
Big,83.030444,-1520.152785,1808.565661,37.178793,6.000000,9.000000,-405.237176
F1r,-3738.558090,68446.935681,-81433.115604,-1674.025469,-270.158117,-405.237176,18246.352055

In [39]:
mult_x = x_transp.dot(x_mat)
mult_x

,EPSP,OPM,BMR,SFL,Medium,Big,F1r
EPSP,11.025450,48.455071,33.697515,0.910669,0.061730,0.083920,3.582946
OPM,48.455071,777382.836034,-1016.020386,1.179409,1.156302,1.879384,1157.525329
BMR,33.697515,-1016.020386,783.813409,10.991960,1.088301,1.674252,-133.724808
SFL,0.910669,1.179409,10.991960,4.334154,0.000000,0.030271,-5.543992
Medium,0.061730,1.156302,1.088301,0.000000,2.000000,0.000000,-1.232498
Big,0.083920,1.879384,1.674252,0.030271,0.000000,3.000000,-0.296104
F1r,3.582946,1157.525329,-133.724808,-5.543992,-1.232498,-0.296104,169.345321

In [40]:
div = mult_transp*(1/rows[0])
div

,EPSP,OPM,BMR,SFL,Medium,Big,F1r
EPSP,0.996107,-18.237099,21.697155,0.446030,0.071981,0.107972,-4.861584
OPM,-18.237099,333.891705,-397.239724,-8.166081,-1.317861,-1.976792,89.007719
BMR,21.697155,-397.239724,472.606524,9.715401,1.567894,2.351841,-105.894819
SFL,0.446030,-8.166081,9.715401,0.199720,0.032231,0.048347,-2.176886
Medium,0.071981,-1.317861,1.567894,0.032231,0.005202,0.007802,-0.351311
Big,0.107972,-1.976792,2.351841,0.048347,0.007802,0.011704,-0.526966
F1r,-4.861584,89.007719,-105.894819,-2.176886,-0.351311,-0.526966,23.727376

In [41]:
# Get Variance-Covariance Matrix
VarCov = (mult_x - div)*(1/(rows[0]-1))
VarCov

,EPSP,OPM,BMR,SFL,Medium,Big,F1r
EPSP,0.013059,0.086839,0.015625,0.000605,-0.000013,-0.000031,0.010995
OPM,0.086839,1011.782480,-0.805704,0.012169,0.003222,0.005021,1.391299
BMR,0.015625,-0.805704,0.405217,0.001662,-0.000624,-0.000882,-0.036237
SFL,0.000605,0.012169,0.001662,0.005383,-0.000042,-0.000024,-0.004384
Medium,-0.000013,0.003222,-0.000624,-0.000042,0.002597,-0.000010,-0.001147
Big,-0.000031,0.005021,-0.000882,-0.000024,-0.000010,0.003891,0.000301
F1r,0.010995,1.391299,-0.036237,-0.004384,-0.001147,0.000301,0.189607

In [42]:
# Check result with Python function
x_mat.cov()

,EPSP,OPM,BMR,SFL,Medium,Big,F1r
EPSP,0.013059,0.086839,0.015625,0.000605,-0.000013,-0.000031,0.010995
OPM,0.086839,1011.782480,-0.805704,0.012169,0.003222,0.005021,1.391299
BMR,0.015625,-0.805704,0.405217,0.001662,-0.000624,-0.000882,-0.036237
SFL,0.000605,0.012169,0.001662,0.005383,-0.000042,-0.000024,-0.004384
Medium,-0.000013,0.003222,-0.000624,-0.000042,0.002597,-0.000010,-0.001147
Big,-0.000031,0.005021,-0.000882,-0.000024,-0.000010,0.003891,0.000301
F1r,0.010995,1.391299,-0.036237,-0.004384,-0.001147,0.000301,0.189607

#### ***1.2 Get Correlation matrix of dependent and independent variables***

In [43]:
variance = np.diag(VarCov).reshape(1,7)

In [44]:
var_transp = variance.transpose()
var_sqrt = np.sqrt(variance)

In [45]:
std_deviation = var_sqrt * (np.sqrt(var_transp))

In [46]:
c_matrix = VarCov / std_deviation
c_matrix

            EPSP       OPM       BMR       SFL    Medium       Big       F1r
EPSP    1.000000  0.023890  0.214800  0.072156 -0.002292 -0.004393  0.220969
OPM     0.023890  1.000000 -0.039791  0.005214  0.001987  0.002531  0.100450
BMR     0.214800 -0.039791  1.000000  0.035588 -0.019249 -0.022219 -0.130732
SFL     0.072156  0.005214  0.035588  1.000000 -0.011223 -0.005143 -0.137228
Medium -0.002292  0.001987 -0.019249 -0.011223  1.000000 -0.003196 -0.051702
Big    -0.004393  0.002531 -0.022219 -0.005143 -0.003196  1.000000  0.011067
F1r     0.220969  0.100450 -0.130732 -0.137228 -0.051702  0.011067  1.000000

In [47]:
# Check with Python function
x_mat.corr()

            EPSP       OPM       BMR       SFL    Medium       Big       F1r
EPSP    1.000000  0.023890  0.214800  0.072156 -0.002292 -0.004393  0.220969
OPM     0.023890  1.000000 -0.039791  0.005214  0.001987  0.002531  0.100450
BMR     0.214800 -0.039791  1.000000  0.035588 -0.019249 -0.022219 -0.130732
SFL     0.072156  0.005214  0.035588  1.000000 -0.011223 -0.005143 -0.137228
Medium -0.002292  0.001987 -0.019249 -0.011223  1.000000 -0.003196 -0.051702
Big    -0.004393  0.002531 -0.022219 -0.005143 -0.003196  1.000000  0.011067
F1r     0.220969  0.100450 -0.130732 -0.137228 -0.051702  0.011067  1.000000

#### ***1.3 Explain what is Variance, Covariance and Correlation***

- **VARIANCE:**

- **COVARIANCE:**

- **CORRELATION:**

#### ***2.1 Leverage Points Detection (Unusual X Values)***

In [48]:
# Get shape of Dataset
sx = df_f.shape
rowsx = sx[:1]
ones = np.ones([rowsx[0],1])

In [49]:
# add ONEs column
df_f.insert(loc=1,column="ones", value=ones)
df_f

,level_0,ones,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,...,SAG,OPG,BMR,SFL,LFL,r,F1r,Size,Medium,Big
0,0,1.0,AAIC,2022q1,8470.0,4773.0,0.0,0.0,-4111.0,0.0,...,-0.998389,-0.993537,1.794935,0.000000,0.178003,-0.152090,-0.222528,small,0,0
1,1,1.0,AAME,2022q1,51608.0,0.0,47812.0,0.0,0.0,0.0,...,0.000000,0.000000,1.982019,0.000000,0.089961,-0.156671,-0.475675,small,0,0
2,2,1.0,AAT,2022q1,101470.0,0.0,73128.0,0.0,-2998.0,14666.0,...,0.000000,0.000000,0.525842,0.000000,0.547644,0.187019,-0.193375,small,0,0
3,3,1.0,ABCB,2022q1,183374.0,10830.0,0.0,0.0,-63140.0,0.0,...,0.000000,0.000000,0.983560,0.000000,0.023444,-0.167528,-0.218392,small,0,0
4,4,1.0,ABR,2022q1,166698.0,82559.0,0.0,0.0,3978.0,0.0,...,0.000000,0.000000,1.068207,0.000000,0.802576,0.147536,-0.226246,small,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,764,1.0,WTM,2022q1,348900.0,0.0,361100.0,0.0,41800.0,0.0,...,3.757554,-1.348352,1.076141,0.000000,0.066443,0.019911,0.082947,small,0,0
765,765,1.0,WY,2022q1,3112000.0,1647000.0,115000.0,6000.0,-291000.0,73000.0,...,0.000000,0.000000,0.361911,0.000000,0.295221,0.134806,0.033848,small,0,0
766,766,1.0,XELB,2022q1,8747.0,1680.0,10065.0,32.0,251.0,708.0,...,0.000000,0.000000,2.442752,0.028656,0.258356,-0.289359,-0.929759,small,0,0
767,767,1.0,Y,2022q1,2718734.0,0.0,2504759.0,0.0,-43212.0,0.0,...,0.000000,0.000000,0.781984,0.000000,0.088504,0.301887,0.222259,small,0,0
768,768,1.0,ZION,2022q1,555000.0,11000.0,0.0,0.0,-289000.0,0.0,...,0.000000,0.000000,0.633377,0.000000,0.007561,0.200036,-0.012988,small,0,0

In [50]:
# Define X variables
x1 = df_f[["EPSP","OPM", "BMR", "SFL","Medium", "Big", "ones"]]
x1

         EPSP       OPM       BMR       SFL  Medium  Big  ones
0    0.030426  0.436482  1.794935  0.000000       0    0   1.0
1    0.059512  0.073554  1.982019  0.000000       0    0   1.0
2    0.012359  0.279314  0.525842  0.000000       0    0   1.0
3    0.056434  0.940940  0.983560  0.000000       0    0   1.0
4    0.032423  0.504739  1.068207  0.000000       0    0   1.0
..        ...       ...       ...       ...     ...  ...   ...
764 -0.003578 -0.034967  1.076141  0.000000       0    0   1.0
765  0.047727  0.433805  0.361911  0.000000       0    0   1.0
766 -0.102809 -0.342746  2.442752  0.028656       0    0   1.0
767  0.018672  0.078704  0.781984  0.000000       0    0   1.0
768  0.054744  0.980180  0.633377  0.000000       0    0   1.0

[769 rows x 7 columns]

In [51]:
x_transpl = x1.transpose()
x_transpl

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,768
EPSP,0.030426,0.059512,0.012359,0.056434,0.032423,0.060626,-0.003577,0.009500,0.056218,0.029133,...,0.051129,0.045459,0.020074,0.052897,0.056268,-0.003578,0.047727,-0.102809,0.018672,0.054744
OPM,0.436482,0.073554,0.279314,0.940940,0.504739,0.914913,-1.280403,0.270305,0.943353,0.639941,...,0.960214,0.961294,0.383085,0.878776,0.911781,-0.034967,0.433805,-0.342746,0.078704,0.980180
BMR,1.794935,1.982019,0.525842,0.983560,1.068207,0.826278,0.993543,0.416897,0.843972,0.940574,...,1.209185,0.826064,0.621678,0.524978,0.844554,1.076141,0.361911,2.442752,0.781984,0.633377
SFL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.028656,0.000000,0.000000
Medium,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Big,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ones,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [52]:
hm = np.dot(x_transpl,x1)

In [54]:
inv = np.linalg.inv(hm)

In [55]:
hm_m = x1.dot(inv)

In [56]:
# Get Hat Matrix
hat_mat = np.dot(hm_m,x_transpl)
hat_mat

array([[ 4.89194921e-03,  5.40423563e-03,  5.97240857e-04, ...,
         7.59388311e-03,  1.45096014e-03,  7.80246778e-04],
       [ 5.40423563e-03,  6.07984744e-03,  4.15697059e-04, ...,
         8.12005055e-03,  1.41566218e-03,  7.51553825e-04],
       [ 5.97240857e-04,  4.15697059e-04,  1.59700804e-03, ...,
         1.67507144e-04,  1.39162971e-03,  1.46044946e-03],
       ...,
       [ 7.59388311e-03,  8.12005055e-03,  1.67507144e-04, ...,
         1.45303667e-02,  1.60761507e-03, -7.32474212e-05],
       [ 1.45096014e-03,  1.41566218e-03,  1.39162971e-03, ...,
         1.60761507e-03,  1.39892654e-03,  1.33010246e-03],
       [ 7.80246778e-04,  7.51553825e-04,  1.46044946e-03, ...,
        -7.32474212e-05,  1.33010246e-03,  1.51538539e-03]])

In [57]:
# Get leverages of Hat Matrix
leverages = np.diagonal(hat_mat)
leverages

array([0.00489195, 0.00607985, 0.00159701, 0.00153171, 0.00166057,
       0.00144567, 0.00173991, 0.00181049, 0.00142872, 0.00147193,
       0.0017451 , 0.01899362, 0.00143434, 0.0305814 , 0.00420824,
       0.00141738, 0.00187112, 0.00139121, 0.0336408 , 0.00157205,
       0.10771488, 0.00146949, 0.00445754, 0.00224274, 0.00165973,
       0.00162907, 0.00224766, 0.00474299, 0.00211588, 0.00427354,
       0.00142638, 0.00414474, 0.00148194, 0.00242411, 0.00142448,
       0.0024751 , 0.00694413, 0.00144408, 0.00164463, 0.00144794,
       0.00140503, 0.00268258, 0.00181254, 0.0043091 , 0.00148013,
       0.0015677 , 0.00435639, 0.0014448 , 0.0021263 , 0.00273397,
       0.00143952, 0.00150801, 0.00428904, 0.00186013, 0.00329188,
       0.00145688, 0.00216653, 0.00184626, 0.00436612, 0.00351287,
       0.00143494, 0.00143055, 0.00141933, 0.00208034, 0.00159147,
       0.00262435, 0.33355472, 0.00145805, 0.00177377, 0.00144044,
       0.00160337, 0.00177334, 0.00198084, 0.00144155, 0.00140164,
       0.00186866, 0.00178874, 0.0016987 , 0.00149275, 0.02169258,
       0.00479477, 0.0013989 , 0.0016311 , 0.00168573, 0.00179756,
       0.00142721, 0.00204485, 0.001421  , 0.00333683, 0.00143185,
       0.00145853, 0.00179976, 0.00138452, 0.00169254, 0.00440621,
       0.00240918, 0.00142665, 0.00238916, 0.00537082, 0.00174486,
       0.00194167, 0.00147485, 0.00163778, 0.00141745, 0.00146469,
       0.00153196, 0.00238912, 0.00141897, 0.00184751, 0.00143507,
       0.00528318, 0.00559553, 0.0014458 , 0.00251621, 0.00333683,
       0.00403396, 0.00839418, 0.00178   , 0.00141168, 0.00144097,
       0.00166353, 0.00204762, 0.00214097, 0.00206376, 0.00199403,
       0.00140548, 0.00164562, 0.00206968, 0.0014227 , 0.00281735,
       0.00179051, 0.00333683, 0.00205934, 0.00141705, 0.00191239,
       0.00221915, 0.00137592, 0.00184095, 0.00178341, 0.0020126 ,
       0.00150207, 0.00157589, 0.00175456, 0.00155482, 0.00525294,
       0.00142355, 0.00167949, 0.00244938, 0.00186583, 0.00172311,
       0.00149623, 0.00176191, 0.00224711, 0.00150021, 0.00718731,
       0.00204709, 0.00172296, 0.00138371, 0.00189838, 0.00573155,
       0.00206184, 0.00144994, 0.00304225, 0.00215892, 0.12846401,
       0.00265202, 0.00148285, 0.00162577, 0.06301743, 0.08153653,
       0.00371488, 0.00159421, 0.00658799, 0.00229128, 0.00315897,
       0.00299141, 0.00151511, 0.00138736, 0.00143932, 0.00182531,
       0.00193342, 0.0016363 , 0.00229957, 0.00176385, 0.00352248,
       0.0014485 , 0.00145106, 0.00151105, 0.00155289, 0.00166956,
       0.00153713, 0.00143397, 0.00174846, 0.04939389, 0.00147249,
       0.00143412, 0.00143897, 0.00212846, 0.00209465, 0.03407889,
       0.00213313, 0.00201892, 0.00175578, 0.00144338, 0.00217614,
       0.00144606, 0.00241525, 0.00153955, 0.00137759, 0.0016324 ,
       0.00161544, 0.09484488, 0.00292971, 0.00227169, 0.00142615,
       0.00141171, 0.00246395, 0.00787637, 0.00169905, 0.00283041,
       0.00214552, 0.01025398, 0.00154555, 0.00144206, 0.00145114,
       0.00161394, 0.00152601, 0.00162   , 0.00147298, 0.00256383,
       0.00205246, 0.00267357, 0.00161673, 0.00168105, 0.00221473,
       0.00185266, 0.00157784, 0.00208977, 0.00162993, 0.00296681,
       0.00269097, 0.00205479, 0.00139849, 0.00202885, 0.00156918,
       0.00144266, 0.00143156, 0.00141399, 0.00142613, 0.00144028,
       0.00148675, 0.00140149, 0.00155993, 0.00173283, 0.00151699,
       0.00179123, 0.00232556, 0.00163918, 0.00141639, 0.00177397,
       0.01293461, 0.00144649, 0.00196916, 0.00140463, 0.00309766,
       0.00163028, 0.00167396, 0.00141406, 0.00146311, 0.00142594,
       0.0014654 , 0.00205246, 0.00151234, 0.39532358, 0.00145746,
       0.00150453, 0.07909608, 0.00214037, 0.01687965, 0.00146314,
       0.00219268, 0.00333683, 0.00333683, 0.00138928, 0.00147899,
       0.0019143 , 0.00217385, 0.00172901, 0.00172264, 0.00170254,
       0.0023676 , 0.0033825 , 0.00152293, 0.00169788, 0.0025248 ,
       0.00144454, 0.0015273 , 0.00158848, 0.00247319, 0.00183911,
       0.00156067, 0.0022856 , 0.00333683, 0.00896453, 0.27728314,
       0.00141125, 0.00154903, 0.00212055, 0.00149124, 0.00155161,
       0.00147562, 0.16841253, 0.00916901, 0.00225269, 0.00497728,
       0.0013805 , 0.00166228, 0.00143201, 0.00358335, 0.0015477 ,
       0.00333683, 0.00195582, 0.00148993, 0.01464263, 0.00185608,
       0.00143544, 0.00157158, 0.00333683, 0.00143964, 0.00146831,
       0.00173591, 0.00145807, 0.00147082, 0.00151472, 0.00140492,
       0.00160566, 0.0022998 , 0.00281129, 0.00149466, 0.00148124,
       0.06618893, 0.00151807, 0.00176104, 0.00138596, 0.00185138,
       0.00168432, 0.00545469, 0.00155745, 0.00161721, 0.01097587,
       0.00173479, 0.0045753 , 0.00173199, 0.00142546, 0.0014454 ,
       0.00165382, 0.0015441 , 0.09968299, 0.00225852, 0.00160124,
       0.00140625, 0.00446927, 0.00152106, 0.00364977, 0.00137777,
       0.00138878, 0.00205808, 0.00186875, 0.00266065, 0.0061585 ,
       0.00175185, 0.14636559, 0.00147639, 0.00137674, 0.00163726,
       0.00291141, 0.00828408, 0.00181464, 0.00787968, 0.00308178,
       0.00163256, 0.00152402, 0.00333683, 0.0023015 , 0.00147925,
       0.00305195, 0.00323331, 0.00149603, 0.01342742, 0.00260761,
       0.33344022, 0.00350643, 0.0014086 , 0.00140249, 0.00145709,
       0.00815167, 0.00453195, 0.00205944, 0.00274464, 0.00148206,
       0.00231445, 0.00148897, 0.00156704, 0.00146279, 0.00173696,
       0.00165958, 0.00324762, 0.00152471, 0.00159685, 0.00155602,
       0.00151864, 0.00166102, 0.00333683, 0.00448703, 0.00203417,
       0.0020494 , 0.0015025 , 0.00248799, 0.01631   , 0.00208864,
       0.03031738, 0.00333683, 0.00154606, 0.00213507, 0.00165586,
       0.00164562, 0.0022767 , 0.00152518, 0.00369946, 0.0015176 ,
       0.00161359, 0.00846834, 0.00155371, 0.00142064, 0.00863287,
       0.00165562, 0.00138053, 0.00166989, 0.00275457, 0.00278775,
       0.00936083, 0.00232691, 0.00153279, 0.00254707, 0.00144338,
       0.00194977, 0.00198321, 0.01055431, 0.00151873, 0.00325193,
       0.0028125 , 0.00189153, 0.0029338 , 0.00200202, 0.00161843,
       0.0015898 , 0.00268858, 0.00275717, 0.00193648, 0.00142286,
       0.00333683, 0.00144132, 0.00138376, 0.00166594, 0.00234322,
       0.00146262, 0.00251247, 0.00141461, 0.00333683, 0.00140811,
       0.00276494, 0.00156801, 0.50062217, 0.00158454, 0.00144   ,
       0.00171226, 0.00140861, 0.00175126, 0.00141302, 0.00463189,
       0.00151204, 0.00164594, 0.00175509, 0.00154482, 0.00333683,
       0.0042015 , 0.00176113, 0.0016953 , 0.00168867, 0.00173153,
       0.00143708, 0.00149553, 0.0177076 , 0.00238785, 0.00254755,
       0.00384768, 0.00149759, 0.00146201, 0.00155188, 0.00220275,
       0.05641334, 0.00159194, 0.00151212, 0.00154293, 0.00168099,
       0.00311849, 0.00168796, 0.00282475, 0.00161474, 0.02499991,
       0.0101451 , 0.00201903, 0.00154975, 0.01773461, 0.00999306,
       0.00163979, 0.00140061, 0.00174816, 0.0014918 , 0.01819631,
       0.00222237, 0.00155616, 0.00152454, 0.01044758, 0.00333683,
       0.00147413, 0.00156239, 0.00333683, 0.00190864, 0.00333141,
       0.00144072, 0.00175935, 0.00147459, 0.00192152, 0.00192196,
       0.00148053, 0.00147847, 0.00147336, 0.00591336, 0.00141781,
       0.00145593, 0.00146664, 0.0014732 , 0.00144056, 0.01472199,
       0.00145526, 0.00226633, 0.00552703, 0.00179747, 0.00205867,
       0.00845263, 0.0014522 , 0.00162409, 0.00206818, 0.00233539,
       0.00191771, 0.00285062, 0.0018333 , 0.00144619, 0.00137816,
       0.00140077, 0.00159341, 0.01816545, 0.00194519, 0.00163479,
       0.00163793, 0.00175439, 0.00268632, 0.0015084 , 0.00333683,
       0.0018914 , 0.00160979, 0.02343573, 0.00765949, 0.00141254,
       0.00365599, 0.00166559, 0.00154515, 0.00333683, 0.00336291,
       0.00412389, 0.00464139, 0.00165937, 0.003336  , 0.00334957,
       0.00163293, 0.00175638, 0.00140441, 0.00250793, 0.00216623,
       0.00337225, 0.00190343, 0.00189578, 0.04444243, 0.00234768,
       0.0017812 , 0.00165984, 0.00267933, 0.00180955, 0.00152866,
       0.00536075, 0.00144422, 0.00143179, 0.00155683, 0.00180126,
       0.00305511, 0.00207509, 0.00356269, 0.00145679, 0.00147922,
       0.00145982, 0.00197793, 0.00141408, 0.00566459, 0.00145042,
       0.00148144, 0.00333683, 0.0015508 , 0.00149687, 0.00150711,
       0.00207307, 0.00388714, 0.00231217, 0.00142926, 0.00299206,
       0.00159211, 0.00236544, 0.00173629, 0.00154444, 0.00147603,
       0.00143207, 0.00175822, 0.00166421, 0.00160979, 0.0015342 ,
       0.00164127, 0.00216201, 0.00153173, 0.00213307, 0.00168994,
       0.00144325, 0.00157793, 0.00178375, 0.00142757, 0.00284796,
       0.00147311, 0.00145048, 0.00252681, 0.00309278, 0.00146207,
       0.00292866, 0.00261148, 0.00142235, 0.00140734, 0.00326108,
       0.00144564, 0.00152289, 0.00170561, 0.00212464, 0.00171731,
       0.00139445, 0.00208375, 0.00144182, 0.00142415, 0.0014763 ,
       0.00333683, 0.00201431, 0.00184761, 0.00156828, 0.00463578,
       0.00185355, 0.00196156, 0.00184624, 0.00167269, 0.00148106,
       0.00165706, 0.00151548, 0.00218657, 0.00139993, 0.00187941,
       0.00158136, 0.001568  , 0.00431902, 0.00156371, 0.00156476,
       0.02029223, 0.00171312, 0.00333683, 0.00157526, 0.005755  ,
       0.00142845, 0.00194254, 0.00217263, 0.00154809, 0.0036617 ,
       0.00290922, 0.00150384, 0.00148935, 0.00222394, 0.0027653 ,
       0.00140479, 0.00154847, 0.00148184, 0.00161234, 0.00148724,
       0.00139828, 0.00251946, 0.00170793, 0.00164787, 0.00160616,
       0.0021373 , 0.02142129, 0.00153231, 0.0015228 , 0.00151677,
       0.00333683, 0.00180647, 0.33396411, 0.00835234, 0.00393547,
       0.00151373, 0.03680599, 0.00255414, 0.00143724, 0.00249639,
       0.00147354, 0.00153524, 0.00177856, 0.00272168, 0.00153478,
       0.00137864, 0.00186996, 0.00151179, 0.99779229, 0.00140319,
       0.00225756, 0.00148126, 0.00144309, 0.00180853, 0.00153169,
       0.00173021, 0.00177532, 0.00176858, 0.0016059 , 0.00158636,
       0.00154133, 0.00138045, 0.00187833, 0.00178591, 0.00213379,
       0.50062217, 0.00154561, 0.03727667, 0.0036019 , 0.00189534,
       0.00164729, 0.00191473, 0.00156767, 0.00334704, 0.00197217,
       0.00139199, 0.00146126, 0.00166821, 0.00142895, 0.00191036,
       0.00202774, 0.01453037, 0.00139893, 0.00151539])

In [58]:
# Sum leverages to prove result
lev_sum = leverages.sum()
lev_sum

7.0

In [59]:
# Get mean of Leverages
lev_mean = lev_sum/leverages.shape[0]
lev_mean

0.009102730819245773

In [60]:
# Get extreme values of X
extreme_x = leverages > (3 * lev_mean)
extreme_x = leverages[extreme_x]
extreme_x

array([0.0305814 , 0.0336408 , 0.10771488, 0.33355472, 0.12846401,
       0.06301743, 0.08153653, 0.04939389, 0.03407889, 0.09484488,
       0.39532358, 0.07909608, 0.27728314, 0.16841253, 0.06618893,
       0.09968299, 0.14636559, 0.33344022, 0.03031738, 0.50062217,
       0.05641334, 0.04444243, 0.33396411, 0.03680599, 0.99779229,
       0.50062217, 0.03727667])

##### ***2.1.1 Explanaitions***

- **HAT MATRIX:**

- **LEVERAGE:**

#### ***2.2 Outliers Detection (Unusual Y Values)***

In [61]:
out = df_f.copy()
out = df_f.rename(columns={"F1r" : "y"})

In [62]:
# Get Y column
out = out[["y"]]
out

            y
0   -0.222528
1   -0.475675
2   -0.193375
3   -0.218392
4   -0.226246
..        ...
764  0.082947
765  0.033848
766 -0.929759
767  0.222259
768 -0.012988

[769 rows x 1 columns]

In [63]:
# Get predicted responses
out["FITS1"] = hat_mat.dot(out["y"])
out

            y     FITS1
0   -0.222528 -0.289298
1   -0.475675 -0.283075
2   -0.193375 -0.151317
3   -0.218392 -0.161936
4   -0.226246 -0.197470
..        ...       ...
764  0.082947 -0.235922
765  0.033848 -0.094719
766 -0.929759 -0.532201
767  0.222259 -0.176717
768 -0.012988 -0.120393

[769 rows x 2 columns]

In [64]:
# Get ordinary residual
out["RESI1"] = out["y"] - out["FITS1"]
out

            y     FITS1     RESI1
0   -0.222528 -0.289298  0.066770
1   -0.475675 -0.283075 -0.192600
2   -0.193375 -0.151317 -0.042058
3   -0.218392 -0.161936 -0.056455
4   -0.226246 -0.197470 -0.028776
..        ...       ...       ...
764  0.082947 -0.235922  0.318869
765  0.033848 -0.094719  0.128567
766 -0.929759 -0.532201 -0.397557
767  0.222259 -0.176717  0.398976
768 -0.012988 -0.120393  0.107406

[769 rows x 3 columns]

In [65]:
# Get leverages hii
out["HI1"] = leverages
out

            y     FITS1     RESI1       HI1
0   -0.222528 -0.289298  0.066770  0.004892
1   -0.475675 -0.283075 -0.192600  0.006080
2   -0.193375 -0.151317 -0.042058  0.001597
3   -0.218392 -0.161936 -0.056455  0.001532
4   -0.226246 -0.197470 -0.028776  0.001661
..        ...       ...       ...       ...
764  0.082947 -0.235922  0.318869  0.001910
765  0.033848 -0.094719  0.128567  0.002028
766 -0.929759 -0.532201 -0.397557  0.014530
767  0.222259 -0.176717  0.398976  0.001399
768 -0.012988 -0.120393  0.107406  0.001515

[769 rows x 4 columns]

In [66]:
# Get Standarized Residual
res = (1 - out["HI1"])
MSE = (np.square(out["y"] - out["FITS1"])).mean()
mult = MSE*res

In [67]:
out["SRES1"] = (out["RESI1"])/(np.sqrt(mult))
out

            y     FITS1     RESI1       HI1     SRES1
0   -0.222528 -0.289298  0.066770  0.004892  0.163548
1   -0.475675 -0.283075 -0.192600  0.006080 -0.472041
2   -0.193375 -0.151317 -0.042058  0.001597 -0.102847
3   -0.218392 -0.161936 -0.056455  0.001532 -0.138051
4   -0.226246 -0.197470 -0.028776  0.001661 -0.070371
..        ...       ...       ...       ...       ...
764  0.082947 -0.235922  0.318869  0.001910  0.779879
765  0.033848 -0.094719  0.128567  0.002028  0.314463
766 -0.929759 -0.532201 -0.397557  0.014530 -0.978538
767  0.222259 -0.176717  0.398976  0.001399  0.975551
768 -0.012988 -0.120393  0.107406  0.001515  0.262637

[769 rows x 5 columns]

In [68]:
# if Standarized residual is larger than 3 (in absolute value) then = outlier
out["SRES1_abs"] = out["SRES1"].abs()
outlier = out[out["SRES1_abs"] > 3]
outlier

            y     FITS1     RESI1       HI1     SRES1  SRES1_abs
13  -2.961467 -0.581244 -2.380223  0.030581 -5.906924   5.906924
22  -2.031487 -0.121045 -1.910442  0.004458 -4.678467   4.678467
49  -1.470643 -0.115296 -1.355347  0.002734 -3.316228   3.316228
80  -2.243745 -0.346003 -1.897742  0.004795 -4.648152   4.648152
165 -1.684002 -0.127600 -1.556402  0.002652 -3.808007   3.808007
217 -1.834081 -0.347243 -1.486838  0.007876 -3.647374   3.647374
260 -1.861209 -0.556926 -1.304283  0.012935 -3.207733   3.207733
312 -2.931138 -0.206533 -2.724605  0.009169 -6.688106   6.688106
361 -3.534346 -0.230110 -3.304237  0.004469 -8.091765   8.091765
391 -1.701358 -0.158699 -1.542659  0.003506 -3.776001   3.776001
415 -1.790389 -0.216265 -1.574124  0.002049 -3.850206   3.850206
428 -1.452576 -0.128880 -1.323697  0.003699 -3.240356   3.240356
519 -1.621134  0.261102 -1.882235  0.018196 -4.641529   4.641529
538 -2.411373 -0.161490 -2.249883  0.005913 -5.513752   5.513752
562 -1.070545  0.264247 -1.334792  0.018165 -3.291501   3.291501
581 -2.040621 -0.240765 -1.799856  0.004641 -4.408060   4.408060
600 -2.207443 -0.372261 -1.835182  0.005361 -4.496201   4.496201
639 -2.049772 -0.219691 -1.830080  0.001690 -4.475452   4.475452
689 -1.575930 -0.244025 -1.331905  0.005755 -3.263818   3.263818
733 -1.294610 -1.390122  0.095512  0.997792  4.966915   4.966915

In [69]:
# Visualize outliers
import plotly.express as px
fig = px.box(out, y='y')
fig.show()

##### ***2.2.1 Explanaitions***

- **OUTLIERS:**

- **RESIDUALS:**

#### ***2. Multicollienarity Analysis***

In [81]:
data = {'variable':["EPSP","OPM", "BMR", "SFL","Medium", "Big", "ones"]}
VIF = pd.DataFrame(data)
VIF

  variable
0     EPSP
1      OPM
2      BMR
3      SFL
4   Medium
5      Big
6     ones

In [82]:
# Calculating VIF for each feature
VIF["VIF"] = [variance_inflation_factor(x1.values, i) for i in range(len(x1.columns))]
VIF

  variable       VIF
0     EPSP  1.054117
1      OPM  1.002718
2      BMR  1.051919
3      SFL  1.005816
4   Medium  1.000504
5      Big  1.000530
6     ones  2.566023

## EXPLAIN

#### ***3. Solution to problems above***

In [ ]:
# Drop outliers and extreme values of X